<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a StoreApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="centered-content ion-text-center">
    <h1 class="title">Tienda Virtual</h1>
    <p class="margin-bottom">Selecciona una opción para continuar</p>
    <ion-button expand="block" routerLink="/sale-products" color="secondary"
      class="medium-centered-button ion-margin-top">
      Ver productos a la venta
    </ion-button>
    <ion-button expand="block" routerLink="/login" color="primary" class="medium-centered-button ion-margin-top">
      Acceso Proveedores (Login)
    </ion-button>
  </div>
</ion-content>